#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  width: 80vw;
}

  #header {
    text-align: center;
    margin: 0;
  }

#sep {
  display: flex;
  flex-direction: column;
}

#side {
  display: flex;
  justify-content: space-evenly;
}

#featPup {
  border: 1px solid black;
  height: fit-content;
  padding: 2rem;
}